apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      serviceAccountName: app-workload-sa
      containers:
        - name: backend
          image: asia-southeast1-docker.pkg.dev/dev-ops-0/dev-ops-0-dev-repo/ai-chatbot-backend:latest
          ports:
            - containerPort: 8000
              protocol: TCP
          env:
            - name: PORT
              value: "8000"
            - name: BUCKET_NAME
              value: "dev-ops-0-data-bucket"
            - name: RAY_ADDRESS
              value: "ray-service-head-svc:6379"
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5